body{
    margin-top:0px;
    background-color: white;
    margin-left: 0;
    margin-right: 0;
    background: linear-gradient(
        rgba(0, 0, 0, 0.7), 
        rgba(0, 0, 0, 0.7)
      ),url("background.jpg");
    background-attachment: fixed;
    color:white;
    background-size: 100% auto ;
}
.top{
    display:inline-block;
    margin-top: 0px;
    align-items: center;
    -webkit-align-items: center;
}
header{
    
    z-index: 100;
    background-color: rgb(184, 16, 31);
    margin-bottom:-4px;
}
#headerLogo{
    padding:5px;
    padding-right: 30px;
    padding-left:30px;
    background-color: white;
}  
.info{
    padding-left: 60px;
    padding-right: 100px;
    /*background-color: lightgrey;*/
    font-family: monospace;/*'Courier New', Courier, monospace;*/
    font-size: 20px;
    height: 1000px;
    
}
.title{
    font-size: 40px;
    
    color: rgb(31, 202, 165);
    width: fit-content;
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgba(30,30,30,0.75);
}

.subTitle{
    font-size: 35px;
    color: rgb(241, 65, 65);
    font-style: italic;
}
.horizontal{
    float: left;
}
#stats{
    position: absolute;
    margin-left: 0px;
    font-style: italic;
    color: blue;
}
.member{
    color: white;
}
.member:hover{
    background-color: rgb(184, 16, 31);
}
#team{
    width: fit-content;
    
}
#practice{
    margin-top: -100px;
    width: 60%;
    padding-left: 150px;
}
@font-face {
    font-family: "norwester";
    src: url("norwester.otf");
}
#headerTitle{
    font-family: "norwester";
    font-size: 75px;
    position: absolute;
    top: 40px;
    padding-left: 40px;
    color: white;
    text-decoration: underline;
}
#menu {
    top:0;
    z-index: 1;
    font-family: 'Courier New', Courier, monospace;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: rgba(40,40,40,1.0);
    position: sticky;
    box-shadow: 0 5px 20px -5px black;

}
#googleSchedule{
    box-shadow: 0 0px 20px 0px black;
    background-color: blueviolet;
    padding: 20px;
    float: right;
}
#menu li {
    float: left;
}
.selectedMenuItem{
    border-bottom: 1px solid rgb(184, 16, 31);
}
.menuItem {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    border-right: 1px solid white;
    transition: background-color .15s ease-in-out;
    -moz-transition: background-color .15s ease-in-out;
    -webkit-transition: background-color .15s ease-in-out;
}

/* Change the link color to #111 (black) on hover */
.menuItem:hover {
    background-color: rgb(184, 16, 31);/* #111;*/
}
.textLink{
    color: #ccd63d;
}
.resource{
    opacity: 0.8;
    position: relative;
    left: 50%;
    margin-left: -100px;
    font-size: 20px;
    color: white;
    padding: 10px;
    background-color: rgb(184, 16, 31);
    display: block;
    text-decoration: none;
    border-radius: 5px;
    text-align: center;
    box-shadow: 0px 5px 10px rgba(30, 30, 30, 0.6);
    width: 200px;
}
.resource:hover{
    background-color: red;
}
.infoText{
    max-width: 65%;
}
.showcaseImg{
    /*box-shadow: 0 4px 8px 0 rgba(184, 16, 31, 0.5), 0 6px 20px 0 rgba(0, 0, 0, 0.19);*/
    border: 1px solid white;
    box-shadow: 20px 10px 0px rgb(184, 16, 31);
    padding: 5px;
    margin-bottom: 20px;
    float: right;
}
#collage{
    padding-top: 100px;
    float: right;
    width: 10%;
}


.backdropli li {
    background-color: rgba(30,30,30,0.75);
    padding: 5px;
    width: fit-content;
}
.backdrop{
    background-color: rgba(30,30,30,0.75);
    padding: 5px;
    width: fit-content;
}